<div class="control-group">
  <%= edit_form.label :first_name %>
  <div class="controls">
    <%= edit_form.text_field :first_name, :class => "input-xlarge" %>
  </div>
</div>

<div class="control-group">
  <%= edit_form.label :last_name %>
  <div class="controls">
    <%= edit_form.text_field :last_name, :class => "input-xlarge" %>
  </div>
</div>

<div class="control-group">
  <%= edit_form.label :login %>
  <div class="controls">
    <%= edit_form.text_field :login, :class => "input-xlarge" %>
  </div>
</div>

<div class="control-group">
  <%= edit_form.label :password %>
  <div class="controls">
    <%= edit_form.password_field :password, :class => "input-xlarge",
                                 :id => "password_field",
                                 :disabled => true %>
    <%= link_to "Reset password", "#", :id => "reset_password" %>
  </div>
</div>

<div class="control-group">
  <label class="control-label">Balance</label>
  <div class="controls">
    <input type="text" id="account_balance" disabled="true" value="<%= @account.balance %>" class="input-xlarge uneditable-input"/>
    <%= link_to "Deposit/Withdraw", "#", :id => "change_balance" %>
  </div>
</div>

<div class="control-group">
  <%= edit_form.label :active %>
  <div class="controls">
    <%= edit_form.check_box :active %>
    Yes, serve this account
  </div>
</div>

<!-- PopUp form for deposit/withdraw operations with account's balance -->
<div id="balance-form" title="Deposit/Withdraw balance">
  <div class="control-group">
      <label for="amount" class="control-label">Amount</label>
      <div class="controls">
        <input type="text" name="amount" id="amount" class="input-xlarge"/>
      </div>
    </div>
    <div class="control-group">
      <label for="comment" class="control-label">Comment</label>
      <div class="controls">
        <input type="text" name="comment" id="comment" class="input-xlarge"/>
      </div>
    </div>
</div>
