<script type="text/javascript">
  $("#reset_password").live("click", function() {
    $("#password_field").removeAttr("disabled");
  });

  $(function() {
    var amount = $("#amount");
    var comment_msg = $("#comment");

    $("#balance-form").dialog({
      autoOpen: false,
      height: 260,
      width: 310,
      resizable: false,
      modal: true,
      buttons: {
        "Deposit": function() {
          $.ajax({
            url: "/private/accounts/<%= @account.id %>/deposit",
            type: 'PUT',
            contentType: "application/json",
            data: JSON.stringify({amount: parseFloat(amount.val()), comment: comment_msg.val()}),
            dataType: 'json',
            success: function(data) {
              $('#account_balance').val(data);
            },
            error: function(xhr, ajaxOptions, thrownError) {
              var obj = jQuery.parseJSON(xhr.responseText);
              alert(obj.error);
            }
          });
          $(this).dialog("close");
        },
        "Withdraw": function() {
          $.ajax({
            url: "/private/accounts/<%= @account.id %>/withdraw",
            type: 'PUT',
            contentType: "application/json",
            data: JSON.stringify({amount: parseFloat(amount.val()), comment: comment_msg.val()}),
            dataType: 'json',
            success: function(data) {
              $('#account_balance').val(data);
            },
            error: function(xhr, ajaxOptions, thrownError) {
              var obj = jQuery.parseJSON(xhr.responseText);
              alert(obj.error);
            }
          });
          $(this).dialog("close");
        },
        Cancel: function() {
          $(this).dialog("close");
        }
      }
    });

    $("#change_balance").click(function() {
      $("#balance-form").dialog("open");
    });
  });
</script>

<%= form_for([:private, @account], :html => { :class => "form-horizontal" }) do |f| -%>
  <%= render "shared/error_messages", :target => @account %>
  <%= render :partial => "edit_form", :object => f, :target => @account %>
  <div class="form-actions">
    <%= f.submit 'Update', :class => "btn btn-primary" %>
    <%= f.submit 'Reset', :type => "reset", :class => "btn" %>
  </div>
<% end -%>
