<table class="table">
  <thead>
    <tr>
      <th>Service</th>
      <th>Plan</th>
      <th>Login</th>
      <th>Password</th>
      <th>RADIUS replies</th>
    </tr>
  </thead>
  <tbody>
    <% @service_links.each do |link| %>
      <tr>
        <td><%= link.service %></td>
        <td><%= link.plan %></td>
        <td><%= link.login %></td>
        <td><%= link.password %></td>
        <td>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <% link.radius_replies.each do |reply| %>
                  <tr>
                    <td><%= reply.name %></td>
                    <td><%= reply.value %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </td>
    <% end %>
  </tr>
  </tbody>
</table>
