<script type="text/javascript">
  $('.pagination a').attr('data-remote', 'true');
</script>

<table class="table">
  <thead>
    <tr>
      <th>Account</th>
      <th>Amount</th>
      <th>Code</th>
      <th>Comment</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.account %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.code %></td>
        <td><%= transaction.comment %></td>
        <td><%= localized_time(transaction.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= page_navigation @transactions %>
