<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Account managment</li>
      <li><h5><%= link_to 'Create an account', new_private_account_path %></h5></li>
    </ul>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Login</th>
      <th>Full name</th>
      <th>Balance</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= link_to account.login, edit_private_account_path(account) %></td>
        <td><%= account.full_name %></td>
        <td><%= account.balance %></td>
        <td><%= tick_or_cross(account.active) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= page_navigation @accounts %>
