<!DOCTYPE html>
<html>
<head>
  <title>Netspire Control Panel</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    #main {
      position: absolute;
      top: 30%;
      left: 50%;
      width: 420px;
      height: 250px;
    }

    #form {
      position: relative;
      background: #f9fcff;
      top: -50%;
      left: -50%;
    }
  </style>
</head>
<body>

<% flash.each do |key, value| %>
  <%= content_tag(:div, value, :class => "alert alert-error",
                  :style => "text-align: center; padding-top: 20px;") %>
<% end %>

<div id="main">
  <div id="form">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal" }) do |f| %>
      <div class="control-group">
        <%= f.label :login %>
        <div class="controls">
          <%= f.text_field :login, :autofocus => true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Sign in", :class => "btn btn-primary" %>
        <%= f.submit "Reset", :type => "reset", :class => "btn" %>
      </div>
  <% end %>
</div>
</div>

</body>
</html>
