<% content_for :sidebar do %>
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Service managment</li>
      <li><h5><%= link_to 'Create service', new_private_service_path %></h5></li>
    </ul>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Active</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= link_to service.name, edit_private_service_path(service) %></td>
        <td><%= service.title %></td>
        <td><%= tick_or_cross(service.active) %></td>
        <td><%= localized_time(service.created_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
