<!DOCTYPE html>
<html>
<head>
  <title>Netspire Control Panel</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
      padding-top: 60px;
      padding-bottom: 40px;
    }
    .sidebar-nav {
      padding: 9px 0;
    }
  </style>
  <%= yield :html_head %>
</head>
<body>

  <div id="spinner" class="spinner">
    <%= image_tag 'ajax-loader.gif' %>
  </div>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <%= link_to 'Netspire', private_dashboard_path, :class => 'brand' %>
        <div class="nav-collapse">
          <ul class="nav">
            <li><%= link_to('Accounts', private_accounts_path) %></li>
            <li><%= link_to 'Services', private_services_path %></li>
            <li><%= link_to('Plans', '#') %></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Settings<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'RADIUS attributes', private_radius_attributes_path %></li>
              </ul>
            </li>
          </ul>

          <ul class="nav pull-right">
            <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Logged in as <%= current_admin.login %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Profile', private_profile_path %></li>
                <li class="divider"/>

                <li><%= link_to "Sign out", destroy_admin_session_path %></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <% flash.each do |key, value| %>
    <strong>
      <%= content_tag(:div, value,
                      :style => "text-align: center; position: absolute; width: 100%",
                      :id => "flash_",
                      :class => "alert #{key}") %>
    </strong>
  <% end %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2">
        <%= yield :sidebar %>
      </div>

      <div class="span10">
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>
